page-home {
    #test{
        color: white;
        background-color: red;
    }
    #wallet{
        color: green;
        text-align: center
    }

    #spent{
        color: red;
    }
    #deposit{
        color: green;
    }

}


